{% extends 'budget/base.html' %}

{% block body %}
<div class="col py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="text-light">
                <h1>Dashboard</h1>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <div class="card text-white bg-dark h-100 bg-opacity-25">
                    <div class="card-body">
                        <canvas id="myChart1"></canvas>
                        {%block scripts%}
                        <script>
                        $(document).ready(function(){
                            var ctx = document.getElementById('myChart1').getContext('2d');
                            var myCategory = new Chart(ctx, {
                                type: 'doughnut',
                                data: {
                                    labels: [{% for category in categories_list %}'{{category.name}}',{%endfor%}] //loop through queryset, 
                                    datasets: [{
                                        label: '# of users',
                                        data: [{%for category in categories_list%}1,{%endfor%}],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)', 
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                    });
                        });
                    </script>
                    {%endblock scripts%}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-white bg-dark h-100 bg-opacity-25">
                    <div class="card-body">
                        <div>
                            {% for category in categories_list %}
                            <p>{{ category.name }}</p>
                            {%endfor%}


                            <canvas id="myChart"></canvas>
                          </div>
                          
                          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
                          
                          <script>
                            const ctx = document.getElementById('myChart');
                          
                            new Chart(ctx, {
                              type: 'bar',
                              data: {
                                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                                datasets: [{
                                  label: '# of Votes',
                                  data: [12, 19, 3, 5, 2, 3],
                                  borderWidth: 1
                                }]
                              },
                              options: {
                                scales: {
                                  y: {
                                    beginAtZero: true
                                  }
                                }
                              }
                            });
                          </script>
                        <p class="card-text text-center">Chart Here</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <div class="card text-white bg-dark h-100 bg-opacity-25">
                    <div class="card-body">
                        <p class="card-text text-center">Chart Here</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-white bg-dark h-100 bg-opacity-25">
                    <div class="card-body">
                        <p class="card-text text-center">Chart Here</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="card text-white bg-dark h-100 bg-opacity-25">
                    <div class="card-body">
                        <p class="card-text text-center">Chart Here</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="card text-white bg-dark h-100 bg-opacity-25">
                    <div class="card-body">
                        <p class="card-text text-center">Chart Here</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% comment %}<div class="d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block col-auto px-sm-2 px-0 bg-dark bg-opacity-25">
    <div class="d-flex flex-column px-3 pt-2 text-white min-vh-100">
        <div style="background-color: #2F8886" class="card text-white h-100">
            <div class="card-body">
                <p>Info Here</p>
            </div>
        </div>
        <div class="row mt-2">
            <h2>Recent Transactions</h2>
                        {% for transaction in transactions_list %}
            <ul>
                <li>{{ transaction.description }}</li>
                <li>{{ transaction.label }}</li>
                <li>${{ transaction.amount }}</li>
                <li>{{ transaction.date }}</li>
            </ul>

            {% endfor %}
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="expense-one">
                </div>
            </div>
            <div class="col">
                <p class="text-start">Category<br>
                    Subcategory<br>
                    mm/dd/yy</p>
            </div>
            <div class="col">
                <p class="text-end">$0.00</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="expense-two">
                </div>
            </div>
            <div class="col">
                <p class="text-start">Category<br>
                    Subcategory<br>
                    mm/dd/yy</p>
            </div>
            <div class="col">
                <p class="text-end">$0.00</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="expense-three">
                </div>
            </div>
            <div class="col">
                <p class="text-start">Category<br>
                    Subcategory<br>
                    mm/dd/yy</p>
            </div>
            <div class="col">
                <p class="text-end">$0.00</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="expense-four">
                </div>
            </div>
            <div class="col">
                <p class="text-start">Category<br>
                    Subcategory<br>
                    mm/dd/yy</p>
            </div>
            <div class="col">
                <p class="text-end">$0.00</p>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col">
                <div class="expense-five">
                </div>
            </div>
            <div class="col">
                <p class="text-start">Category<br>
                    Subcategory<br>
                    mm/dd/yy</p>
            </div>
            <div class="col">
                <p class="text-end">$0.00</p>
            </div>
        </div>
        <div class="pb-4">
            <h2>Budgets</h2>
            <div class="row mt-2">
                <div class="col">
                    <p>Name<br>Category<br>Period</p>
                </div>
                <div class="col">
                    <p class="text-end">$0.00</p>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col">
                    <p>Name<br>Category<br>Period</p>
                </div>
                <div class="col">
                    <p class="text-end">$0.00</p>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col">
                    <p>Name<br>Category<br>Period</p>
                </div>
                <div class="col">
                    <p class="text-end">$0.00</p>
                </div>
            </div>
        </div>
    </div>
</div>{% endcomment %}

{% endblock %}