{% extends 'budget/base.html' %}

{% block body %}
{{ category_names|json_script:"category_names"}}
{{ category_types|json_script:"category_types"}}
{{ label_names|json_script:"label_names"}}
{{ label_amountRec|json_script:"label_amountRec"}}
{{ label_amountPlanned|json_script:"label_amountPlanned"}}

    <div class="col py-3">
        <div class="container-fluid">
            <div class="row">
                <div class="text-light">
                    <h1>Reports</h1>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-12">
                    <div class="card text-white bg-dark h-100 bg-opacity-25">
                        <div class="card-body">
                            <ul class="nav nav-tabs nav-fill bg-light bg-opacity-25 rounded" id="reportsTab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link text-white active" id="home-tab" data-bs-toggle="tab"
                                            data-bs-target="#overview-tab-pane" type="button" role="tab"
                                            aria-controls="overview-tab-pane" aria-selected="true">Budget Overview
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link text-white" id="monthly-tab" data-bs-toggle="tab"
                                            data-bs-target="#monthly-tab-pane" type="button" role="tab"
                                            aria-controls="monthly-tab-pane" aria-selected="false">Monthly Spending
                                    </button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link text-white" id="categories-tab" data-bs-toggle="tab"
                                            data-bs-target="#categories-tab-pane" type="button" role="tab"
                                            aria-controls="categories-tab-pane" aria-selected="false">Spending Categories
                                    </button>
                                </li>
                            </ul>
                            <div class="tab-content" id="reportsTabContent">
                                <div class="tab-pane fade show active" id="overview-tab-pane" role="tabpanel"
                                     aria-labelledby="overview-tab" tabindex="0">Budget Overview charts here
                                     <div class="row mt-2">
                                        <div class="col-md-6">
                                            <div class="card text-white bg-dark h-100 bg-opacity-25">
                                                <div class="card-body">
                                                    <p>amount planned for each label/subcategory</p>
                                                    <canvas id="myChart3"></canvas>
                                                    <script type="text/javascript">
                                                    var labelNames = JSON.parse(document.getElementById('label_names').textContent)
                                                    console.log(labelNames)
                                                    var labelAmountRec = JSON.parse(document.getElementById('label_amountRec').textContent)
                                                    console.log(labelAmountRec)
                                                    var labelAmountPlanned = JSON.parse(document.getElementById('label_amountPlanned').textContent)
                                                    console.log(labelAmountPlanned)
                                                    var amountremaining = labelAmountPlanned - labelAmountRec
                                                    console.log(amountremaining)
                                                    $(document).ready(function(){
                                                        var ctx = document.getElementById('myChart3').getContext('2d');
                                                        var myLabel = new Chart(ctx, {
                                                            type: 'bar',
                                                            data: {
                                                                labels: labelNames,
                                                                datasets: [{
                                                                    label: 'amount planned',
                                                                    data: labelAmountPlanned, 
                                                                    backgroundColor: [
                                                                        'rgba(255, 99, 132, 0.2)', 
                                                                        'rgba(54, 162, 235, 0.2)',
                                                                        'rgba(255, 206, 86, 0.2)',
                                                                        'rgba(75, 192, 192, 0.2)',
                                                                        'rgba(153, 102, 255, 0.2)',
                                                                        'rgba(255, 159, 64, 0.2)',
                                                                        'rgba(255, 99, 132, 0.2)', 
                                                                        'rgba(54, 162, 235, 0.2)',
                                                                        'rgba(255, 206, 86, 0.2)',
                                                                        'rgba(75, 192, 192, 0.2)',
                                                                        'rgba(153, 102, 255, 0.2)',
                                                                        'rgba(255, 159, 64, 0.2)',
                                                                    ],
                                                                    borderColor: [
                                                                        'rgba(255, 99, 132, 1)',
                                                                        'rgba(54, 162, 235, 1)',
                                                                        'rgba(255, 206, 86, 1)',
                                                                        'rgba(75, 192, 192, 1)',
                                                                        'rgba(153, 102, 255, 1)',
                                                                        'rgba(255, 159, 64, 1)',
                                                                        'rgba(255, 99, 132, 1)',
                                                                        'rgba(54, 162, 235, 1)',
                                                                        'rgba(255, 206, 86, 1)',
                                                                        'rgba(75, 192, 192, 1)',
                                                                        'rgba(153, 102, 255, 1)',
                                                                        'rgba(255, 159, 64, 1)',
                                                                    ],
                                                                    borderWidth: 1
                                                                }]
                                                            },
                                                            options: {
                                                                scales: {
                                                                    y: {
                                                                        beginAtZero: true
                                                                    }
                                                                }
                                                            }
                                                });
                                                    });
                                                </script>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card text-white bg-dark h-100 bg-opacity-25">
                                                <div class="card-body">
                                                    <p>amount received for each label/subcategory</p>
                                                    <canvas id="myChart4"></canvas>
                                                    <script type="text/javascript">
                                                    var labelNames = JSON.parse(document.getElementById('label_names').textContent)
                                                    console.log(labelNames)
                                                    var labelAmountRec = JSON.parse(document.getElementById('label_amountRec').textContent)
                                                    console.log(labelAmountRec)
                                                    var labelAmountPlanned = JSON.parse(document.getElementById('label_amountPlanned').textContent)
                                                    console.log(labelAmountPlanned)
                                                    var amountremaining = labelAmountPlanned - labelAmountRec
                                                    console.log(amountremaining)
                                                    $(document).ready(function(){
                                                        var ctx = document.getElementById('myChart4').getContext('2d');
                                                        var myLabel = new Chart(ctx, {
                                                            type: 'bar',
                                                            data: {
                                                                labels: labelNames,
                                                                datasets: [{
                                                                    label: 'amount received',
                                                                    data: labelAmountRec, 
                                                                    backgroundColor: [
                                                                        'rgba(255, 99, 132, 0.2)', 
                                                                        'rgba(54, 162, 235, 0.2)',
                                                                        'rgba(255, 206, 86, 0.2)',
                                                                        'rgba(75, 192, 192, 0.2)',
                                                                        'rgba(153, 102, 255, 0.2)',
                                                                        'rgba(255, 159, 64, 0.2)',
                                                                        'rgba(255, 99, 132, 0.2)', 
                                                                        'rgba(54, 162, 235, 0.2)',
                                                                        'rgba(255, 206, 86, 0.2)',
                                                                        'rgba(75, 192, 192, 0.2)',
                                                                        'rgba(153, 102, 255, 0.2)',
                                                                        'rgba(255, 159, 64, 0.2)',
                                                                    ],
                                                                    borderColor: [
                                                                        'rgba(255, 99, 132, 1)',
                                                                        'rgba(54, 162, 235, 1)',
                                                                        'rgba(255, 206, 86, 1)',
                                                                        'rgba(75, 192, 192, 1)',
                                                                        'rgba(153, 102, 255, 1)',
                                                                        'rgba(255, 159, 64, 1)',
                                                                        'rgba(255, 99, 132, 1)',
                                                                        'rgba(54, 162, 235, 1)',
                                                                        'rgba(255, 206, 86, 1)',
                                                                        'rgba(75, 192, 192, 1)',
                                                                        'rgba(153, 102, 255, 1)',
                                                                        'rgba(255, 159, 64, 1)',
                                                                    ],
                                                                    borderWidth: 1
                                                                }]
                                                            },
                                                            options: {
                                                                scales: {
                                                                    y: {
                                                                        beginAtZero: true
                                                                    }
                                                                }
                                                            }
                                                });
                                                    });
                                                </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="monthly-tab-pane" role="tabpanel"
                                     aria-labelledby="monthly-tab" tabindex="0">Monthly Spending charts here
                                </div>
                                <div class="tab-pane fade" id="categories-tab-pane" role="tabpanel"
                                     aria-labelledby="categories-tab" tabindex="0">Spending Categories charts here
                                     <div class="row mt-2">
                                        <div class="col-md-6">
                                            <div class="card text-white bg-dark h-100 bg-opacity-25">
                                                <div class="card-body">
                                                    <p>Your Categories</p>
                                                    <canvas id="myChart1"></canvas>
                                                    <script type="text/javascript">
                                                    var categoryNames = JSON.parse(document.getElementById('category_names').textContent)
                                                    console.log(categoryNames)
                                                    $(document).ready(function(){
                                                        var ctx = document.getElementById('myChart1').getContext('2d');
                                                        var myCategory = new Chart(ctx, {
                                                            type: 'doughnut',
                                                            data: {
                                                                labels: categoryNames,
                                                                datasets: [{
                                                                    label: 'category names',
                                                                    data: categoryNames.map(category => 1),
                                                                    backgroundColor: [
                                                                        'rgba(255, 99, 132, 0.2)', 
                                                                        'rgba(54, 162, 235, 0.2)',
                                                                        'rgba(255, 206, 86, 0.2)',
                                                                        'rgba(75, 192, 192, 0.2)',
                                                                        'rgba(153, 102, 255, 0.2)',
                                                                        'rgba(255, 159, 64, 0.2)',
                                                                        'rgba(255, 99, 132, 0.2)', 
                                                                        'rgba(54, 162, 235, 0.2)',
                                                                        'rgba(255, 206, 86, 0.2)',
                                                                        'rgba(75, 192, 192, 0.2)',
                                                                        'rgba(153, 102, 255, 0.2)',
                                                                        'rgba(255, 159, 64, 0.2)',
                                                                    ],
                                                                    borderColor: [
                                                                        'rgba(255, 99, 132, 1)',
                                                                        'rgba(54, 162, 235, 1)',
                                                                        'rgba(255, 206, 86, 1)',
                                                                        'rgba(75, 192, 192, 1)',
                                                                        'rgba(153, 102, 255, 1)',
                                                                        'rgba(255, 159, 64, 1)',
                                                                        'rgba(255, 99, 132, 1)',
                                                                        'rgba(54, 162, 235, 1)',
                                                                        'rgba(255, 206, 86, 1)',
                                                                        'rgba(75, 192, 192, 1)',
                                                                        'rgba(153, 102, 255, 1)',
                                                                        'rgba(255, 159, 64, 1)',
                                                                    ],
                                                                    borderWidth: 1
                                                                }]
                                                            },
                                                            options: {
                                                                legend: {
                                                                    display: false,
                                                                },
                                                                scales: {
                                                                    y: {
                                                                        beginAtZero: true
                                                                    }
                                                                },
                                                            }            
                                                });
                                                    });
                                                </script>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card text-white bg-dark h-100 bg-opacity-25">
                                                <div class="card-body">
                                                    <p>Your Category Types</p>
                                                    <canvas id="myChart2"></canvas>
                                                    <script type="text/javascript">
                                                    var categoryTypes = JSON.parse(document.getElementById('category_types').textContent)
                                                    console.log(categoryTypes)
                                                    $(document).ready(function(){
                                                        var ctx = document.getElementById('myChart2').getContext('2d');
                                                        var myCategory = new Chart(ctx, {
                                                            type: 'doughnut',
                                                            data: {
                                                                labels: categoryTypes,
                                                                datasets: [{
                                                                    label: 'Category Types',
                                                                    data: categoryTypes.map(category => 1),
                                                                    backgroundColor: [
                                                                        'rgba(255, 99, 132, 0.2)', 
                                                                        'rgba(54, 162, 235, 0.2)',
                                                                        'rgba(255, 206, 86, 0.2)',
                                                                        'rgba(75, 192, 192, 0.2)',
                                                                        'rgba(153, 102, 255, 0.2)',
                                                                        'rgba(255, 159, 64, 0.2)',
                                                                        'rgba(255, 99, 132, 0.2)', 
                                                                        'rgba(54, 162, 235, 0.2)',
                                                                        'rgba(255, 206, 86, 0.2)',
                                                                        'rgba(75, 192, 192, 0.2)',
                                                                        'rgba(153, 102, 255, 0.2)',
                                                                        'rgba(255, 159, 64, 0.2)',
                                                                    ],
                                                                    
                                                                    borderColor: [
                                                                        'rgba(255, 99, 132, 1)',
                                                                        'rgba(54, 162, 235, 1)',
                                                                        'rgba(255, 206, 86, 1)',
                                                                        'rgba(75, 192, 192, 1)',
                                                                        'rgba(153, 102, 255, 1)',
                                                                        'rgba(255, 159, 64, 1)',
                                                                        'rgba(255, 99, 132, 1)',
                                                                        'rgba(54, 162, 235, 1)',
                                                                        'rgba(255, 206, 86, 1)',
                                                                        'rgba(75, 192, 192, 1)',
                                                                        'rgba(153, 102, 255, 1)',
                                                                        'rgba(255, 159, 64, 1)',
                                                                    ],
                                                                    borderWidth: 1
                                                                }]
                                                            },
                                                            options: {
                                                                legend: {
                                                                    display: false,
                                                                },
                                                                scales: {
                                                                    y: {
                                                                        beginAtZero: true
                                                                    }
                                                                },
                                                            }            
                                                });
                                                    });
                                                      </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}