.nav-pills .nav-link {
    background: 0 0;
    border: 0;
    border-radius: 50rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #2f8886;
}

.mobile-active {
    border-bottom: #ee7738 4px solid;
}

.nav-tabs {
    border-bottom: 0px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    background-color: transparent;
    border-color: transparent;
    border-bottom: #EE7738 4px solid;
}

.btn-home {
  background-color: #2f8886;
}

.btn-home:hover {
  background-color: #2a7a79;
}

.nav-link.nav-hover:hover {
  background-color: #2f8886;
}

.card {
    border: none;
}

.expense-one {
    background: #f59d2a;
    clip-path: circle(50%);
    height: 3em;
    width: 3em;
}

.expense-two {
    background: #2f8886;
    clip-path: circle(50%);
    height: 3em;
    width: 3em;
}

.expense-three {
    background: #a05195;
    clip-path: circle(50%);
    height: 3em;
    width: 3em;
}

.expense-four {
    background: #84c69b;
    clip-path: circle(50%);
    height: 3em;
    width: 3em;
}

.expense-five {
    background: #ee7738;
    clip-path: circle(50%);
    height: 3em;
    width: 3em;
}

H1, H2, H3, H4, H5, H6 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

p {
    font-family: 'Sintony', sans-serif;
    color: white;
}

label {
    font-family: 'Sintony', sans-serif;
    color: white;
}

tbody, td, tfoot, th, thead, tr {
    font-family: 'Sintony', sans-serif;
    color: white;
    border-bottom-color: #84c69b;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

ul {
    font-family: 'Sintony', sans-serif;
    color: white;
}

.helptext {
    font-family: 'Sintony', sans-serif;
    color: white;
}

.profile-pic {
    clip-path: circle(50%);
    height: 8em;
    width: 8em;
}

.form-control {
    background-color: #386780;
    background-blend-mode: soft-light;
    border-radius: 0;
    color: white;
    font-family: 'Sintony', sans-serif;
    border: none;
}

.acc-head {
    font-family: 'Nunito', sans-serif;
    font-size: 13pt;
}

.acc-body {
    font-family: Nunito, sans-serif;
    font-size: 11pt;
    font-weight: lighter;
}

.acc-end {
    border-bottom-color: #84c69b;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.accordion-item {
    background-color: #19313C;
    color: white;
}

.accordion-button {
    background-color: #386780;
}

.btn-primary {
    background-color: #EE7738 !important;
    border-color: #EE7738 !important;
}


.form-control {
    background-color: #386780;
    background-blend-mode: soft-light;
    border-radius: 0;
    color: white;
    font-family: 'Sintony', sans-serif;
    border: none;
}

.acc-head {
    font-family: 'Nunito', sans-serif;
    font-size: 13pt;
}

.acc-body {
    font-family: Nunito, sans-serif;
    font-size: 11pt;
    font-weight: lighter;
}

.acc-end {
    border-bottom-color: #84c69b;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.accordion-item {
    background-color: #19313C;
    color: white;
}

.accordion-button {
    background-color: #386780;
}

.btn-primary {
    background-color: #EE7738 !important;
    border-color: #EE7738 !important;
}


.form-control {
    background-color: #386780;
    background-blend-mode: soft-light;
    border-radius: 0;
    color: white;
    font-family: 'Sintony', sans-serif;
    border: none;
}

.acc-head {
    font-family: 'Nunito', sans-serif;
    font-size: 13pt;
}

.acc-body {
    font-family: Nunito, sans-serif;
    font-size: 11pt;
    font-weight: lighter;
}

.acc-end {
    border-bottom-color: #84c69b;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.accordion-item {
    background-color: #19313C;
    color: white;
}

.accordion-button {
    background-color: #386780;
}

.btn-primary {
    background-color: #EE7738 !important;
    border-color: #EE7738 !important;
}


.form-control {
    background-color: #386780;
    background-blend-mode: soft-light;
    border-radius: 0;
    color: white;
    font-family: 'Sintony', sans-serif;
    border: none;
}

.acc-head {
    font-family: 'Nunito', sans-serif;
    font-size: 13pt;
}

.acc-body {
    font-family: Nunito, sans-serif;
    font-size: 11pt;
    font-weight: lighter;
}

.acc-end {
    border-bottom-color: #84c69b;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.accordion-item {
    background-color: #19313C;
    color: white;
}

.accordion-button {
    background-color: #386780;
}

.btn-primary {
    background-color: #EE7738 !important;
    border-color: #EE7738 !important;
}
