{% extends 'budget/base2.html' %}

{% block body %}
    <div class="container-fluid hero-2">
        <div class="container">
            <div class="row height-45 align-items-center">
                <div class="ml-5 pl-4">
                    <h3>Logout Successful</h3>
                    <h1>You have been logged out!</h1>
                    <a href="{% url 'index' %}" class="btn btn-success btn-green py-4 btn-custom-1 w-25">Return to Homepage</a>
                </div>
            </div>
        </div>
   </div>
{% endblock %}