{% extends 'budget/base2.html' %}

{% block body %}
    <div class="py-3 mt-5 container">
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="card text-white bg-dark h-100 bg-opacity-25">
                    <div class="card-body">
                        <h1>Logout Successful</h1>
                        <p class="fs4">You have been logged out!</p>
                        <a href="{% url 'index' %}" class="btn btn-home text-white">Return to
                            Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}