{% extends 'budget/base.html' %}

{% block body %}
    <div class="container-fluid hero-2">
        <div class="container pb-5">
            <div class="row height-45 align-items-center">
                <div class="ml-5 pl-4">
                    <h1>Create New Account</h1>
                    <br>
                    <form method="POST">
                        {% csrf_token %}
                        <h4>Account Info</h4>
                        {{ form }}
                        <button type="submit" class="btn btn-secondary btn-green btn-custom-1 px-3 mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
   </div>
{% endblock %}